/* 1st part */
body {
    padding: 0;
    margin: 0;
    outline: 0;
}

.main {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%
}

h1 {
    font-size: 80px;
}

.live {
    background-color: #dd0000;
    display: inline-block;
    padding: 16px;
    margin: 15px 0;
    border-radius: 7px;
}

.earth {
    color: #fff;
    padding: 15% 0;

}

.separet {
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 25px;
    padding: 0 5%;
}

.image-box {
    position: relative;
    padding-top: 30%;

}

.image-box img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* 2nd part */
.match {
    width: 20%;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-gap: 20px;
    place-items: center;
    padding: 20px 0;
    border-radius: 7px;
    height: fit-content;

}


.match button {
    width: 80%;
    margin: 0 auto;
    display: inline-block;
    padding: 16px;
    border-radius: 7px;
}

.text-box {
    padding-left: 10px;
    margin-top: 10px;
}

.button-trensfer {
    border-radius: 5px;
}

.icon-box {
    display: flex;
    gap: 20px;
}

.text-icon {
    display: flex;
    align-items: center;

}

.match button:hover {
    background-color: red;
    color: #fff;
}

.main-contant {
    display: flex;
    margin: 80px 0;
}

.transfer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 20px;

}

.transfer-box {}

footer {
    position: relative;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 300px;
    width: 100%;
    padding-top: 10%;
}

hr {
    border: 1px solid rgb(44, 40, 40);
    margin-right: 7%;
    margin-left: 7%;
}

.footer-blog {
    display: inline-flex;
    gap: 40px;
    margin-top: 15px;
}

.icon-social {
    display: inline-flex;
    gap: 40px;
    font-size: 30px;
    padding-top: 40px;
}