/* 1st part */
body {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 80px;
}

.live {
    background-color: #dd0000;
    display: inline-block;
    padding: 16px;
    margin: 15px 0;
    border-radius: 7px;
}

.earth {
    color: #fff;
    padding: 15% 0;

}

.separet {
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 25px;
    padding: 0 5%;
}

.image-box {
    position: relative;
    padding-top: 30%;

}

.image-box img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* 2nd part */
.match {
    width: 20%;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-gap: 20px;
    place-items: center;
    padding: 20px 0;
    border-radius: 7px;

}


.match button {
    width: 80%;
    margin: 0 auto;
    display: inline-block;
    padding: 16px;
    border-radius: 7px;
}


.match button:hover {
    background-color: red;
    color: #fff;
}

.main-contant {
    display: flex;
    margin: 80px 0;
}

.transfer {
    width: 80%;
}